@font-face {
    font-family: Pompadur; 
    src: url(../font/9423.ttf);    
}

@font-face {
    font-family: airborne; 
    src: url(../font/airborne.ttf);    
}

@font-face {
    font-family: Candal; 
    src: url(../font/Candal.ttf);    
}